@import "./variables.scss";
@import "./mixins.scss";

.freeTrialInputSection {
  background-color: $gray-10;
  z-index: -2;

  .freeTrialInputdiv {
    display: grid;
    gap: 9rem 13rem;
    margin: auto;
    max-width: $layout-width;
    grid-template-areas:
      "Oportunidades Oportunidades Form"
      ". . Form"
      "Juntos Juntos Form"
      ". . Form";
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: $gray-10;
      border-bottom: 400px solid transparent;
      border-right: 900px solid $white;
      z-index: 0;
      pointer-events: none;
      right: -230px;
    }

    .moreOpportunitiesForYou {
      grid-area: Oportunidades;
	  padding-top: 5rem;

      .moreOpportunitiesForYouTitle {
        font-size: 56px;

        .moreOpportunitiesForYouTitleColor {
          color: $primary-color-60;
        }
      }

      .moreOpportunitiesForYouSubtitle {
        font-size: 20px;
        color: $gray-100;
        font-weight: 400;
      }
    }
    .togetherSinceFirstStep {
      grid-area: Juntos;
      color: $white;
      padding: 3rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      background-color: $primary-color-100;
      background-size: cover;
      z-index: 0;

      &::before {
        position: absolute;
        content: "";
        background-color: $primary-color-100;
        z-index: -1;
        pointer-events: none;
        border-bottom: 150px solid transparent;
        border-left: 200px solid $gray-10;
        z-index: 0;
        left: -300px;
        top: 0;
      }

      .backgroundRectangle {
        background-color: $primary-color-100;
        position: absolute;
        width: 100vw;
        left: -250px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        z-index: -1;
      }

      .togetherSinceFirstStepTitle {
        font-size: 32px;
        color: $white;
      }

      .togetherSinceFirstStepText {
        color: $white;
      }
    }

    .freeTrialForm {
      grid-area: Form;

      display: flex;
      flex-direction: column;
      width: 500px;

      z-index: 4;

      background-color: $white;
      box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
      border-radius: 2px;
      padding: 1.5rem;

      margin-top: 2.5rem;
    }
  }
}
