@import "./variables.scss";
@import "./mixins.scss";

.freeTrialInputSection {
  background-color: $gray-10;
  z-index: -2;

  .freeTrialInputdiv {
    display: grid;
    gap: 9rem 13rem;
    margin: auto;
    max-width: $layout-width;
    grid-template-areas:
      "Oportunidades Oportunidades Form"
      ". . Form"
      "Juntos Juntos Form"
      ". . Form";
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: $gray-10;
      border-bottom: 400px solid transparent;
      border-right: 900px solid $white;
      z-index: 0;
      pointer-events: none;
      right: -230px;

      @media screen and (max-width: 1399px) {
        border-bottom: 200px solid transparent;
        border-right: 700px solid $white;
        right: -32px !important;
      }
    }

    @media screen and (max-width: $smallerdesktop) {
      max-width: $layout-width-smallerdesktop;
    }

    @media screen and (max-width: $cellphone) {
      max-width: $layout-width-cellphone;
    }

    .moreOpportunitiesForYou {
      grid-area: Oportunidades;
      padding-top: 5rem;

      .moreOpportunitiesForYouTitle {
        font-size: 56px;

        .moreOpportunitiesForYouTitleColor {
          color: $primary-color-60;
        }
      }

      .moreOpportunitiesForYouSubtitle {
        font-size: 20px;
        color: $gray-100;
        font-weight: 400;
      }
    }
    .togetherSinceFirstStep {
      grid-area: Juntos;
      color: $white;
      padding: 3rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      background-color: $primary-color-100;
      background-size: cover;
      z-index: 0;

      &::before {
        position: absolute;
        content: "";
        background-color: $primary-color-100;
        z-index: -1;
        pointer-events: none;
        border-bottom: 50px solid transparent;
        border-left: 200px solid $gray-10;
        z-index: 0;
        left: -250px;
        top: 0;

        @media screen and (max-width: $smallerdesktop) {
          left: -150px;
          border-bottom: 60px solid transparent;
        }
      }

      .backgroundRectangle {
        background-color: $primary-color-100;
        position: absolute;
        width: 100vw;
        left: -250px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        z-index: -1;

        @media screen and (max-width: $smallerdesktop) {
          left: -34px;
        }
      }

      .togetherSinceFirstStepTitle {
        font-size: 32px;
        color: $white;
        margin-top: 0;
      }

      .togetherSinceFirstStepText {
        color: $white;
      }
    }

    .freeTrialForm {
      grid-area: Form;

      display: flex;
      flex-direction: column;
      width: 500px;

      z-index: 4;

      background-color: $white;
      box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
      border-radius: 2px;
      padding: 2rem;

      margin-top: 2.5rem;

      .freeTrialFormTitleSection {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;

        border-bottom: 1px solid $gray-30;
        padding-bottom: 1.5rem;

        .freeTrialFormTitle {
          margin-top: 0;
          margin-bottom: 1rem;
          font-size: 24px;
        }

        .freeTrialFormSubTitle {
          color: $gray-70;
          font-size: 14px;
        }
      }

      .freeTrialFormSection {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        form {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        p,
        .chooseYourCompany {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          label,
          span {
            margin-bottom: 0.5rem;
            font-weight: 700;
          }

          input:not([type="radio"]),
          select {
            border: 2px solid $dark;
            box-shadow: inset 6px 6px 0px #eefbfb;
            height: 40px;
            padding: 0.5rem;
            &:invalid {
              color: $gray-60;
            }

            option {
              color: $gray-100;
            }

            &::placeholder {
              color: $gray-60;
            }
          }

          .insertYourEmail {
            margin-bottom: 1rem;
          }
        }

        .useTermsListDiv {
          margin-bottom: 1rem;
          .useTermsList {
            color: $gray-70;
            font-size: 12px;
            padding-left: 1rem;

            a {
              color: $primary-color-60;
            }
          }
        }

        .createAccountButton {
          font-weight: 800;
          padding: 0.5rem;
          background-color: $color-highlight-60;
          border: none;
          color: $gray-100;
          position: relative;
          cursor: pointer;
          height: 40px;

          &::after {
            @include bottomButtonTrapezoid;
            width: 26.5rem;
            height: 0;
            left: 0;
            bottom: -4px;
          }
        }
      }
    }
  }
}

.chooseYourCompanyRadio,
.doesntHaveSite {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  label {
    margin-bottom: 0 !important;
    margin-left: 0.5rem;
  }
}

.labelRadio {
  font-weight: 400 !important;
}

.passwordIcon {
  width: 15px;
  height: 15px;
  margin-top: -25px;
  margin-left: 400px;
  z-index: 2;
  cursor: pointer;
}
