@import "./variables.scss";
@import "./mixins.scss";

.freeAccountSection {
  max-width: $layout-width;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  color: $gray-100;
  height: 50vh;
  margin-bottom: 2rem;

  @media screen and (max-width: $smallerdesktop) {
    max-width: $layout-width-smallerdesktop !important;
  }

  @media screen and (max-width: $cellphone) {
    max-width: $layout-width-cellphone !important;
    display: flex;
    flex-direction: column;
    height: auto;

    .freeAccountButton {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2.5rem;
      font-weight: 800;
      width: 15rem;
      height: 2.5rem;
      background-color: $primary-color-60;
      border: none;
      text-decoration: none;
      color: $gray-100;
      position: relative;
      align-self: center;
      margin-bottom: 2rem;

      &::after {
        @include bottomButtonTrapezoid;
        width: 14.3rem;
        height: 0;
        bottom: -4px;
      }
    }
  }

  .freeAccountText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $cellphone) {
      align-items: center;
      margin-bottom: 1rem;
    }

    .freeAccountTitle {
      font-size: 40px;

      @media screen and (max-width: $cellphone) {
        font-size: 32px;
        margin-bottom: 1rem;
      }
    }

    .freeAccountButton {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2.5rem;
      font-weight: 800;
      width: 15rem;
      height: 2.5rem;
      background-color: $primary-color-60;
      border: none;
      text-decoration: none;
      color: $gray-100;
      position: relative;

      &::after {
        @include bottomButtonTrapezoid;
        width: 14.3rem;
        height: 0;
        bottom: -4px;
      }
    }
  }

  .partnerTools {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-column-gap: 5rem;
    margin: auto;

    @media screen and (max-width: $cellphone) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 100px);
    }

    .partnerToolsContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .partnerTitle {
        text-align: center;
        margin-top: 0.5rem;
        font-weight: 400;
        font-size: 14px;
        color: $dark;
      }
    }
  }
}
