@import "./variables.scss";
@import "./headerAndFooter.scss";
@import "./freeAccountSection.scss";
@import "./understandRdStation.scss";
@import "./whyBussinessChooseRD.scss";

* {
	box-sizing: border-box;
	font-family: $nunito;
}

body {
	margin: 0;
}

.title {
	font-family: $darkergrotesque;
	font-weight: 900;
	color: $gray-100;
}