@import "./variables.scss";
@import "./mixins.scss";

.rdStationEfficiency {
  background-color: $gray-10;
  z-index: -1;
  padding-top: 5rem;

  @media screen and (max-width: $cellphone) {
    padding-top: 0 !important;
    position: relative;
  }

  &::before {
    content: "";
    background-color: $gray-10;
    z-index: 0;
    border-bottom: 670px solid $white;
    border-right: 1000px solid transparent;
    pointer-events: none;
    @media screen and (max-width: $smallerdesktop) {
      border-right: 700px solid transparent;
    }

    @media screen and (max-width: $cellphone) {
      border-bottom: 380px solid $white;
      border-right: 600px solid transparent;
      bottom: 0;
      left: -400px;
      position: absolute;
    }
  }

  .rdStationEfficiencyDiv {
    max-width: $layout-width;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    margin-bottom: 10rem;
    padding: 2rem;
    z-index: 1;

    @media screen and (max-width: $smallerdesktop) {
      max-width: $layout-width-smallerdesktop;
    }

    @media screen and (max-width: $cellphone) {
      max-width: $layout-width-cellphone;
      display: flex;
      flex-direction: column-reverse;
      padding: 2rem 0;
    }

    .rdoerImageDiv {
      position: relative;

      img {
        @media screen and (max-width: $cellphone) {
          max-width: 90vw;
        }
      }

      &::after {
        position: absolute;
        right: 60px;
        content: "";
        border-right: 120px solid $gray-10;
        border-bottom: 120px solid transparent;
        z-index: 5;

        @media screen and (max-width: $smallerdesktop) {
          right: 0px;
        }
      }
    }

    .rdStationEfficiencyContent {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .rdStationEfficiencyTitle {
        font-size: 40px;
        margin-bottom: 0;

        @media screen and (max-width: $cellphone) {
          margin-top: 0;
          font-size: 24px;
        }
      }

      .rdStationEfficiencySubTitle {
        font-size: 20px;
        font-weight: 400;

        @media screen and (max-width: $cellphone) {
          font-size: 14px;
        }
      }

      ul {
        .listItem {
          list-style: none;
          margin-bottom: 1.5rem;
          position: relative;

          &::before {
            content: url("./assets/svg/tickList.svg");
            position: absolute;
            left: -2rem;

            @media screen and (max-width: $cellphone) {
              top: 4px;
            }
          }

          .rdUniversity {
            color: $primary-color-60;
          }
        }
      }
    }
  }
}
