@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800;900&family=Nunito+Sans:ital,wght@0,400;0,900;1,700&display=swap');


$nunito: 'Nunito Sans', sans-serif;
$darkergrotesque: 'Darker Grotesque', sans-serif;

$primary-color-100: #0B485B;
$primary-color-60: #19C1CE;
$primary-color-50: #07E5EB;

$color-highlight-60: #F2BF4E;
$color-highlight-50: #F4CA6D;

$dark: #000000;

$gray-100: #212429;
$gray-70: #7E8A98;
$gray-60: #97A1AC;
$gray-30: #CFD3D8;
$gray-10: #F1F3F5;

$white: #FFFFFF;

$layout-width: 75vw;
$layout-width-smallerdesktop: 95vw;
$layout-width-cellphone: 95vw;


$smallerdesktop: 1399px;
$cellphone: 600px;

/* @media screen and (max-width: $smallerdesktop) {
    max-width: $layout-width-smallerdesktop;
  }

  @media screen and (max-width: $cellphone) {
    max-width: $layout-width-cellphone;
  } */