---
layout: layouts/root.njk
title: RD Station
---

<header>
  <div class="headerDiv">
    <a href="/"
      ><img src="./assets/svg/logo.svg" alt="Logo RD Station" class="rdLogo"
    /></a>

    <div class="headerNavDiv">
      <nav class="navBar">
        <a href="#" class="menuItem">Menu 1</a>
        <a href="#" class="dropdown menuItem">Menu 2 </a>
        <div class="dropdownMenu">
          {% for item in metadata.dropdownMenu %}
          <div class="listItemContainer">
            <h3 class="listItemTitle">{{ item.title }}</h3>
            <ul>
              {% for listItem in item.content %}
              <li class="listItem">
                <a href={{ listItem.href }}>{{ listItem.text }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <a href="#" class="menuItem">Menu 3</a>
        <a href="#" class="menuItem">Menu 4</a>
        <a href="#" class="menuItem">Menu 5</a>
      </nav>
      <div class="navBarButtons">
        <button class="navBarFirstButton">BUTTON</button>
        <button class="navBarSecondButton">
          BUTTON
          <img
            src="./assets/svg/rightArrow.svg"
            alt="Ir para a próxima página"
          />
        </button>
      </div>
    </div>
  </div>
  <script src="/_includes/js/header.js"></script>
</header>

<main>
  <section class="freeTrialInputSection">
    <div class="freeTrialInputdiv">
      <div class="moreOpportunitiesForYou">
        <h1 class="moreOpportunitiesForYouTitle title">
          Gere mais
          <span class="moreOpportunitiesForYouTitleColor">oportunidades</span>
          para seu negócio
        </h1>
        <h3 class="moreOpportunitiesForYouSubtitle">
          O RD Station Marketing é um software para sua empresa fazer campanhas
          melhores, nutrir Leads, gerar oportunidades comerciais qualificadas e
          alcançar mais resultados.
        </h3>
      </div>
      <div class="freeTrialForm">
        <section class="freeTrialFormTitleSection">
          <h3 class="freeTrialFormTitle">
            Comece seus 10 dias de teste grátis do RD Station Marketing!
          </h3>
          <span class="freeTrialFormSubTitle">
            Não precisa cadastrar cartão de crédito. 😉
          </span>
        </section>
        <section class="freeTrialFormSection">
          <form name="leadHomePage" method="POST" data-netlify="true">
            <p>
              <label for="name">Diga, qual seu nome?</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Insira seu nome"
                required
              />
            </p>
            <p>
              <label for="workEmail">Seu email de trabalho</label>
              <input
                type="email"
                id="workEmail"
                name="workEmail"
                placeholder="Insira seu e-mail"
                required
              />
            </p>
            <p>
              <label for="telephone">Seu telefone</label>
              <input
                type="tel"
                id="telephone"
                name="telephone"
                placeholder="Insira seu número de telefone com DDD"
                required
              />
            </p>
            <p>
              <label for="occupation">Seu cargo de ocupação</label>
              <select
                id="occupation"
                name="occupation"
                placeholder="Selecione seu cargo"
                required
              >
                <option value="" disabled selected hidden>
                  Seu cargo de ocupação
                </option>
                <option value="vendas">Time de Vendas</option>
                <option value="marketing">Time de Marketing</option>
                <option value="tecnologia">Time de Tecnologia</option>
                <option value="produto">Time de Produto</option>
              </select>
            </p>
            <p>
              <label for="password">Crie uma senha</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Insira sua senha"
                class="passwordField"
                required
              />
              <img src="./assets/svg/seePassword.svg" alt="Toggle password" class="passwordIcon">
            </p>
            <p>
              <label for="confirmPassword">Confirme sua senha</label>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirme sua senha"
                class="passwordField"
                required
              />
              <img src="./assets/svg/seePassword.svg" alt="Toggle password" class="passwordIcon">
            </p>
            <div class="chooseYourCompany">
              <span>Qual o site da sua empresa?</span>
              <div class="chooseYourCompanyRadio">
                <input
                  type="radio"
                  id="companySite"
                  name="companySite"
                  value="haveSite"
                />
                <label for="companySite" class="labelRadio">Meu site é</label>
              </div>
              <input
                type="text"
                id="companySiteInfo"
                name="companySiteInfo"
                placeholder="Insira o endereço do seu site"
                class="insertYourEmail"
                required
              />

              <div class="doesntHaveSite">
                <input
                  type="radio"
                  id="companySiteNot"
                  name="companySite"
                  placeholder="Insira seu nome"
                  value="doesntHaveSite"
                  required
                />
                <label for="companySiteNot" class="labelRadio">Ainda não tenho site</label>
              </div>
            </div>
            <div class="useTermsListDiv">
              <ul class="useTermsList">
                <li>
                  Ao criar minha conta estou de acordo com os
                  <a href="#">termos de uso</a> do software e
                  <a href="#">política de privacidade</a>.
                </li>
                <li>
                  Ao preencher o formulário, concordo em receber comunicações de
                  acordo com meus interesses.
                </li>
                <li>
                  Você pode alterar suas permissões de comunicação a qualquer
                  tempo.
                </li>
              </ul>
            </div>

            <button type="submit" class="createAccountButton">
              CRIAR MINHA CONTA
            </button>
          </form>
        </section>
      </div>
      <div class="togetherSinceFirstStep">
        <h3 class="togetherSinceFirstStepTitle title">
          Estaremos juntos desde o primeiro passo!
        </h3>
        <div class="togetherSinceFirstStepText">
          Se você ainda não sabe como extrair o máximo das ações digitais, não
          tem problema. O <b>RD Station Marketing</b> é mais que uma ferramenta,
          nos importamos com os seus resultados.
          <br />
          <br />
          <b>Estaremos com você do planejamento até a prática!</b>
          <div class="backgroundRectangle"></div>
        </div>
      </div>
    </div>
    <script src="/_includes/js/inputPassword.js"></script>
  </section>

  <section class="rdStationEfficiency">
    <div class="rdStationEfficiencyDiv">
      <div class="rdoerImageDiv">
        <img
          src="./assets/images/rdoerImage.png"
          alt="Imagem Rdoer"
          class="rdoerImage"
        />
      </div>
      <div class="rdStationEfficiencyContent">
        <h1 class="rdStationEfficiencyTitle title">
          Resultados previsíveis e mais clientes para sua empresa
        </h1>
        <h3 class="rdStationEfficiencySubTitle">
          Torne sua atuação no Marketing Digital mais eficaz
        </h3>

        <ul>
          {% for listItem in metadata.rdEfficiency %}
          <li class="listItem">
            {{ listItem.text | safe }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="rdProsCards">
    <h1 class="rdProsTitle title">
      A ferramenta de Automação de Marketing líder na América Latina
    </h1>
    <div class="rdProsCardsContent">
      {% for item in metadata.prosCards %}
      <div class="rdProsCardsIndividualCard">
        <img src={{ item.icon }} alt="Ícone do card" />
        <h1 class="rdProsCardsIndividualCardTitle title">{{ item.title }}</h1>
        <p class="rdProsCardsIndividualCardText">{{ item.text }}</p>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="whyBussinessChooseRD">
    <h1 class="whyBussinessChooseRDTitle title">
      Por que mais de 25.000 empresas escolheram o RD Station?
    </h1>
    <span class="whyBussinessChooseRDText">
      Combinamos nossos produtos de Marketing e Vendas com pessoas que se
      importam com seus resultados e um ecossistema que apoia o seu negócio do
      planejamento à prática.
    </span>
    <a href="#" class="whyBussinessChooseRDButton">CRIAR CONTA GRATUITA</a>
  </section>

  <section class="understandRdStation">
    <div class="backgroundRectangle"></div>
    <div class="widthContainer">
      <div class="understandRdStationText">
        <h1 class="understandRdStationTitle title">
          Entenda melhor como o RD Station Marketing funciona na prática
        </h1>
        <a href="#" class="understandRdStationButton"
          >ASSISTA A DEMONSTRAÇÃO
          <img src="./assets/svg/playButton.svg" alt="Botão de play"
        /></a>
      </div>
      <div class="understandRdStationVideo">
        <img
          class="understandRdStationVideoImage"
          src="./assets/images/videoImage.png"
          alt="Imagem vídeo"
        />
        <img
          class="understandRdStationVideoPlay"
          src="./assets/svg/playButtonVideo.svg"
          alt="Botão de play"
        />
      </div>
    </div>
  </section>

  <section class="freeAccountSection">
    <section class="freeAccountText">
      <h1 class="freeAccountTitle title">
        Torne sua operação de Marketing ainda mais poderosa
      </h1>
      <span class="freeAccountText"
        >O RD Station Marketing se conecta as principais ferramentas nacionais e
        internacionais</span
      >
      <a href="#" class="freeAccountButton">CRIAR CONTA GRATUITA</a>
    </section>
    <section class="partnerTools">
      {% for item in metadata.partnerToolsLogos %}
      <div class="partnerToolsContainer">
        <img src={{ item.src }} alt={{ "Logo " + item.title }}>
        <span class="partnerTitle">{{ item.title }}</span>
      </div>
      {% endfor %}
    </section>
  </section>
  <script src="/_includes/js/responsiveLayout.js"></script>
</main>

<footer>
  <div class="footerUpperDiv">
    <a href="/"
      ><img
        src="./assets/svg/logoBranca.svg"
        alt="Logo RD Station"
        class="rdLogo"
    /></a>
    <nav class="navSocialIcons">
      <a href="https://www.twitter.com/rd_station"
        ><img src="./assets/svg/twitter.svg" alt="Link Twitter"
      /></a>
      <a href="https://www.facebook.com/ResultadosDigitais/"
        ><img src="./assets/svg/facebook.svg" alt="Link Facebook"
      /></a>
      <a href="https://www.linkedin.com/showcase/resultadosdigitais/"
        ><img src="./assets/svg/linkedin.svg" alt="Link Linkedin"
      /></a>
      <a href="https://www.instagram.com/resdigitais/"
        ><img src="./assets/svg/instagram.svg" alt="Link Instagram"
      /></a>
      <a href="https://www.youtube.com/channel/UC5lPKvmw6-DFya_qreisENQ"
        ><img src="./assets/svg/youtube.svg" alt="Link Youtube"
      /></a>
    </nav>
  </div>
  <div class="footerLowerDiv">
    <p class="footerText">
      © 2021 <span class="footerTextSpan">RD Station</span>.
      <a href="#">Política de Privacidade</a>.
    </p>
  </div>
</footer>
