---
layout: layouts/root.njk
title: RD Station
---

<header>
  <div class="headerDiv">
    <a href="/"
      ><img src="./assets/svg/logo.svg" alt="Logo RD Station" class="rdLogo"
    /></a>

    <div class="headerNavDiv">
      <nav class="navBar">
        <a href="#" class="menuItem">Menu 1</a>
        <a href="#" class="dropdown menuItem">Menu 2 </a>
        <div class="dropdownMenu">
          {% for item in metadata.dropdownMenu %}
          <div class="listItemContainer">
            <h3 class="listItemTitle">{{ item.title }}</h3>
            <ul>
              {% for listItem in item.content %}
              <li class="listItem">
                <a href={{ listItem.href }}>{{ listItem.text }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <a href="#" class="menuItem">Menu 3</a>
        <a href="#" class="menuItem">Menu 4</a>
        <a href="#" class="menuItem">Menu 5</a>
      </nav>
      <div class="navBarButtons">
        <button class="navBarFirstButton">BUTTON</button>
        <button class="navBarSecondButton">
          BUTTON
          <img
            src="./assets/svg/rightArrow.svg"
            alt="Ir para a próxima página"
          />
        </button>
      </div>
    </div>
  </div>
  <script src="/_includes/js/header.js"></script>
</header>

<main>
  <section class="whyBussinessChooseRD">
    <h1 class="whyBussinessChooseRDTitle title">
      Por que mais de 25.000 empresas escolheram o RD Station?
    </h1>
    <span class="whyBussinessChooseRDText">
      Combinamos nossos produtos de Marketing e Vendas com pessoas que se
      importam com seus resultados e um ecossistema que apoia o seu negócio do
      planejamento à prática.
    </span>
    <a href="#" class="whyBussinessChooseRDButton">CRIAR CONTA GRATUITA</a>
  </section>
  
  <section class="understandRdStation">
    <div class="backgroundRectangle"></div>
    <div class="widthContainer">
      <div class="understandRdStationText">
        <h1 class="understandRdStationTitle title">
          Entenda melhor como o RD Station Marketing funciona na prática
        </h1>
        <a href="#" class="understandRdStationButton"
          >ASSISTA A DEMONSTRAÇÃO
          <img src="./assets/svg/playButton.svg" alt="Botão de play"
        /></a>
      </div>
      <div class="understandRdStationVideo">
        <img
          class="understandRdStationVideoImage"
          src="./assets/images/videoImage.png"
          alt="Imagem vídeo"
        />
        <img
          class="understandRdStationVideoPlay"
          src="./assets/svg/playButtonVideo.svg"
          alt="Botão de play"
        />
      </div>
    </div>
  </section>

  <section class="freeAccountSection">
    <section class="freeAccountText">
      <h1 class="freeAccountTitle title">
        Torne sua operação de Marketing ainda mais poderosa
      </h1>
      <span class="freeAccountText"
        >O RD Station Marketing se conecta as principais ferramentas nacionais e
        internacionais</span
      >
      <a href="#" class="freeAccountButton">CRIAR CONTA GRATUITA</a>
    </section>
    <section class="partnerTools">
      {% for item in metadata.partnerToolsLogos %}
      <div class="partnerToolsContainer">
        <img src={{ item.src }} alt={{ "Logo " + item.title }}>
        <span class="partnerTitle">{{ item.title }}</span>
      </div>
      {% endfor %}
    </section>
  </section>
</main>

<footer>
  <div class="footerUpperDiv">
    <a href="/"
      ><img
        src="./assets/svg/logoBranca.svg"
        alt="Logo RD Station"
        class="rdLogo"
    /></a>
    <nav class="navSocialIcons">
      <a href="https://www.twitter.com/rd_station"
        ><img src="./assets/svg/twitter.svg" alt="Link Twitter"
      /></a>
      <a href="https://www.facebook.com/ResultadosDigitais/"
        ><img src="./assets/svg/facebook.svg" alt="Link Facebook"
      /></a>
      <a href="https://www.linkedin.com/showcase/resultadosdigitais/"
        ><img src="./assets/svg/linkedin.svg" alt="Link Linkedin"
      /></a>
      <a href="https://www.instagram.com/resdigitais/"
        ><img src="./assets/svg/instagram.svg" alt="Link Instagram"
      /></a>
      <a href="https://www.youtube.com/channel/UC5lPKvmw6-DFya_qreisENQ"
        ><img src="./assets/svg/youtube.svg" alt="Link Youtube"
      /></a>
    </nav>
  </div>
  <div class="footerLowerDiv">
    <p class="footerText">
      © 2021 <span class="footerTextSpan">RD Station</span>.
      <a href="#">Política de Privacidade</a>.
    </p>
  </div>
</footer>
